@import 'variables.scss';

.c-books-list {
  padding: $space-xs $space-s;
  margin: $space-l;

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__search-container {
    padding: $space-xs $space-s;
    margin: $space-l;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  &__button-container {
    display: flex;

    height: fit-content;
  }
}
