@import 'variables.scss';

.c-user-layout {
  display: flex;
  flex-direction: column;

  &__content-container {
    padding: $space-s $space;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
