@import 'variables.scss';

.c-input {
  display: flex;
  justify-content: center;

  &__container {
    padding: $space-xs $space-s;

    border: 1px solid $color-green;
    border-radius: $space-s;

    height: 1.5rem;
  }
}
