@import 'variables.scss';

.c-dashboard-layout {
  display: flex;
  flex-direction: row;
  height: 100%;

  &__content-container {
    padding: $space-s $space;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
